<!-- nav bar -->
<h1>About Us</h1>
<div>
  header with quotes

  “We make a living by what we get. We make a life by what we give.” ― Winston S. Churchill

  “No one is useless in this world who lightens the burdens of another.” ― Charles Dickens

  “Happiness doesn't result from what we get, but from what we give.” ― Ben Carson

  “I slept and I dreamed that life is all joy. I woke and I saw that life is all service. I served and I saw that service is joy.” ― Kahlil Gibran

  “For it is in giving that we receive.” ― Francis of Assisi




</div>

<div>
  body with photo
</div>

<div>
  Good@co is a platform for giving, intended to bring happiness and eventually peace on earth.

  Get the warm and fuzzies.
  Get to be an ambassador to good will.

  Give your time, money, objecets(s), or a professional service.
  Give of yourself.
  Give happiness.
</div>

