<!-- nav bar -->
<h1>Gifts Come in All Shapes and Sizes</h1>
<div>
  <p>
    Good&Co is a platform for giving, designed to bring happiness and peace on earth.</p>
  <p>
    Through Good&Co you can give your time, money, objects or a professional service to people in need.</p>
  <p>
    Get the warm & fuzzies. <br>
    Give happiness.
  </p>
  
  <form action="./users/new">
    <button>Start Giving</button>
  </form>
  
</div>

<div id="about-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://farm3.staticflickr.com/2684/4454534183_ce03485321_b.jpg" alt="">
      <div class="carousel-caption">
        <h2>
          “We make a living by what we get. We make a life by what we give.”
        </h2>
        <p>Winson Churchill</p>
        <form action="./users/new">
          <button>Start Giving</button>
        </form>
      </div>
    </div>
  </div>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://farm5.staticflickr.com/4036/4660187260_1546ac6145_b.jpg" alt="">
      <div class="carousel-caption">
        <h2>“For it is in giving that we receive.”</h2>
        <p>Francis of Assisi</p>
        <form action="./users/new">
          <button>Start Giving</button>
        </form>
      </div>
    </div>
  </div>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://farm5.staticflickr.com/4035/4330832772_3d07d53677_b.jpg" alt="">
      <div class="carousel-caption">
        <h2>“Happiness doesn't result from what we get, but from what we give.”</h2>
        <p>Ben Carson</p>
        <form action="./users/new">
          <button>Start Giving</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
