<div class="overflow-hide">
<div class="hero-image">
  <div class="row">
    
    <div class="col-sm-7"></div>
    <div class="col-sm-5 hero-heading text-center">
    <div class="header-spacing">
      <h2>Give Happiness. <br>
      Get Happiness.
      </h2>
      <p>The Platform for Sharing Good.</p>
      <form action="./users/new">
        <button>Signup with Email</button>
      </form>
      </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row info-row text-center infographic-row">
    <div class="col-sm-6 info-boxes give-info">
      <h2>Give.</h2>
      <p>Either pro-bono consulting or time to mow a neighbor's lawn, there is something we all can Give.</p>
      <form action="./searches/index">
        <button>Search Now</button>
      </form>
    </div>
    <div class="col-sm-6 info-boxes get-info">
      <h2>Get.</h2>
      <p>We could all use a little help, whether it be spare food or extra clothing; there is something we all can Get.</p>
      <form action="./searches/index">
      <button >Search Now</button>
      </form>
    </div>
  </div>
<div class="row text-center">
  <a href="./searches/index">
    <div class="col-md-4 info-boxes special-padding-for-info-boxes give-special-info">
      <p>See what others are giving now.</p>
    </div>
  </a>
  <div class="col-md-4 info-boxes horizontal-justify">
    <p class="de-pad">Join the</p>
    <h2> Largest</h2>
    <p class="de-pad"> Platform for Sharing Good.</p>
    <form action="./users/new">
    <button>Sign Up Today</button>
    </form>
  </div>
  <a href="./searches/index">
  <div class="col-md-4 info-boxes special-padding-for-info-boxes get-special-info">
    <p>See what others are receiving now.</p>
  </div>
  </a>


</div>

</div>

</div>