<div class="hero-image">
  <div class="row">
    
    <div class="col-sm-7"></div>
    <div class="col-sm-5 hero-heading text-center">
    <div class="header-spacing">
      <h2>Give Happiness. <br>
      Get Happiness.
      </h2>
      <p>The Platform for Sharing Good.</p>
      <button>Signup with Email</button>
      </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Give.</h2>
      <p>Either Pro-bono consilting, or the time to mow a neighbor's lawn, there is something we all can Give.</p>
      <button>Search Now</button>
    </div>
    <div class="col-sm-6">
      <h2>Get.</h2>
      <p>We could all user a little help, wether it be spare food or extra clothing, there is something we all can Get.</p>
      <button value="Search Now"></button>
    </div>
  </div>
<div class="row">
  <div class="col-sm-4">
    <p>See what others are giving now.</p>
  </div>
  <div class="col-sm-4">
    <p>Join the</p>
    <h2> Largest</h2>
    <p>Platform for Sharing Good.</p>
    <button>Signup Today</button>
  </div>
  <div class="col-sm-4">
    <p>See what others are receiving now.</p>
  </div>



</div>

</div>

