<% @results.each do |result| %>

  <div>
    <img src="" alt="">
    <p>
      Give
    </p>
    <p>
      specific user's gift title
    </p>
    <p>
      Get
    </p>
    <p>
      specific user's gift title
    </p>
  </div>
  <h1><%= result.title %></h1>
  <% end %>