// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-color: #DEEEE9;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.showProfileName {
  text-align: center;
}

.profilePagePhoto {
  width: 200px;
  height: 200px;
  background: teal;
  border: 10px solid white;
  border-radius: 100px;
  margin: 0 auto;
}

.profilePageGiftTitle, .profilePageName {
  background-color: white;
  border-radius: 5px;
  width: 300px;
}

.profilePageName {
  margin-top: 20px;
}

.profilePageGiftType {
  padding-top: 40px;
}

.profilePageGiftType:first-child {
  padding-top: 80px;
}

.profilePageGiftDescription {
  background-color: white;
  border-radius: 5px;
  width: 400px;
  margin-top: 20px;
}

.profilePageGiftCategoryImage img {
  margin-top: 20px;
  height: 100px;
  /*width: 100px; This alters the image.*/
}