// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 70px;
}



.navbar-left {
  font-size: 1.1em;
  font-style: italic;
}

.navbar-left span {
  font-style: normal;
  font-weight: bold;
  color: #191B1A;
}

.container {

}

.center {
  margin: 0 auto;
  text-align: center;
}

.showProfileName {
  text-align: center;
}

.profilePagePhoto {
  width: 200px;
  height: 200px;
  background: teal;
  border: 10px solid white;
  border-radius: 100px;
  margin: 0 auto;
}

.profilePageGiftTitle, .profilePageName {
  background-color: white;
  border-radius: 5px;
  width: 300px;
}

.profilePageGiftTitle {
  margin-top: 20px;
}

.profilePageName {
  margin-top: 20px;
}

.profilePageGiftType {
  padding-top: 40px;
}

.profilePageGiftType:first-child {
  padding-top: 70px;
}

.profilePageGiftDescription {
  background-color: white;
  border-radius: 5px;
  width: 400px;
  margin-top: 20px;
}

.profilePageGiftCategoryImage img {
  margin-top: 20px;
  height: 100px;

}

textarea, input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.radioButton {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.radioButton label {
  display: block;
}

.updateUserInformation {
  margin-top: 30px;
}

.updateGiftInformation {
  margin-top: 50px;
}

#gift_category_id_1 {
  background-image: url("/assets/time.png");
  -webkit-appearance: none;
  width: 120px;
  height: 100px;
  background-size: 120px 100px;
}

#gift_category_id_2 {
  background-image: url("/assets/service.png");
  -webkit-appearance: none;
  width: 120px;
  height: 100px;
  background-size: 120px 100px;
}

#gift_category_id_3 {
  background-image: url("/assets/money.png");
  -webkit-appearance: none;
  width: 120px;
  height: 100px;
  background-size: 120px 100px;
}

#gift_category_id_4 {
  background-image: url("/assets/object.png");
  -webkit-appearance: none;
  width: 120px;
  height: 100px;
  background-size: 120px 100px;
}


.updateGiftInformation img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.updateGiftInformation p {
  margin-top: 20px;
}
.navcontainer {
  background-color: #F8F8F8;
}
