// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 70px;
}

#navcontainer {
  background-color: #F8F8F8;
}

.navbar-left {
  font-size: 1.1em;
  font-style: italic;
}

.navbar-left span {
  font-style: normal;
  font-weight: bold;
  color: #191B1A;
}

.container {
  background-color: #DEEEE9;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.showProfileName {
  text-align: center;
}

.profilePagePhoto {
  width: 200px;
  height: 200px;
  background: teal;
  border: 10px solid white;
  border-radius: 100px;
  margin: 0 auto;
}

.profilePageGiftTitle, .profilePageName {
  background-color: white;
  border-radius: 5px;
  width: 300px;
}

.profilePageGiftTitle {
  margin-top: 20px;
}

.profilePageName {
  margin-top: 20px;
}

.profilePageGiftType {
  padding-top: 40px;
}

.profilePageGiftType:first-child {
  padding-top: 70px;
}

.profilePageGiftDescription {
  background-color: white;
  border-radius: 5px;
  width: 400px;
  margin-top: 20px;
}

.profilePageGiftCategoryImage img {
  margin-top: 20px;
  height: 100px;
  width: 100px;
}

.radioButtons label {
  display: inline;
}

.updateUserInformation {
  margin-top: 30px;
}

.updateGiftInformation {
  margin-top: 50px;
}

.updateGiftInformation img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.updateGiftInformation p {
  margin-top: 20px;
}